.navbar-brandX img{
    height: 400px;
    width: 200px;
}

.text-white{
    color: #fff;
}

.text-underline{
    text-underline: auto;
}

.logo-text{
    color: black;
    font-size: smaller;
    margin-left: 35px;
}

.margin_top-10{
    margin-top: -10px
}

.margin_left_10{
    padding-left: 15px
}

.box_shadow{
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    margin-bottom: 5px;
}
